
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;




  header{
    width: 100vw;
    height: 80vh;
    margin: 0;
    padding: 0;
    background-image: url(/assets/backgroundImg.jpg);
    background-size: cover;
    
    .head{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      height: 50px;

      .left-nav{
        width: 35%;
        margin-right: 80px;
        

      }
      .right-nav{
        width: 45%;
        margin-left: 80px;
        .lang{
          float: right;
          margin-left: 40px;
        }
        
        
      }
    }

  }
  
  .centre{
    height: 533px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    .right-flesh{
      width: 40px;
    }
    .left-flesh{
      width: 40px;
    }
    h1{
      color: white;
      font-size: 50px;
      font-family: 'Times New Roman', Times, serif;
    }
  }
  


  .button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-right: 50px;


    button{
      background-color: black;
      color: white;
      height: 45px;
      width: 190px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-weight: 600;
      font-size: 20px;
      
    }
  }
}
ul{
  margin:0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: start;
  padding-left: 10px;
  li{
    display: inline;
    margin-right: 33px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

    a{
      text-decoration: none;
      color: white;
      font-weight: 600;
      font-size: 16px;
      font-family: "Exo 2", serif;
      font-optical-sizing: auto;
      font-style: normal
    }
  }
}

main{
  .h2-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    
    h2{
      margin-top: 15px;
      margin-bottom: 10px;
      color: #222222;
      font-family: "futura", Sans-serif;
      font-size: 35px;
      font-weight: 500;
      font-style: italic;
    }
    p{
      margin: 0px;
      padding-bottom: 30px;
      color: #9BA6AE;
      font-family: "Montserrat", Sans-serif;
      font-size: 21px;
      font-weight: 400;
    }

  }
  article{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .youga{
      background-image: url(assets/Yoga.jpg);
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
      width: 500px;
      position: relative;
      right: 55px;
      div{
        width: 370px;
        height: 300px;
        background-color: rgba(245, 245, 245, 0.655);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      }
    }
    .surf{
      background-image: url(assets/surf.jpg);
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
      width: 500px;
      position: relative;
      left: 55px;
      div{
        width: 370px;
        height: 300px;
        background-color: rgba(245, 245, 245, 0.655);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .room{
      background-image: url(assets/room.jpg);
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
      width: 500px;
      position: relative;
      left: 55px;
      div{
        width: 370px;
        height: 300px;
        background-color: rgba(245, 245, 245, 0.655);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
    }
    .surfer{
      background-image: url(assets/surfer.jpg);
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
      width: 500px;
      position: relative;
      right: 55px;
      div{
        width: 370px;
        height: 300px;
        background-color: rgba(245, 245, 245, 0.655);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

.btn{
  background-color: black;
  position: relative;
  height: 40px;
  width: 110px;
  top:65px;
  border: none;
  a{
    text-decoration: none;
    color: white;
    font-family: cursive;
    font-size: 12px;
    font-weight: 700;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-style: normal

  
}


}